/* General */

@media screen and (max-width: 1280px) {
    .container {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 1200px) {
    html.overflow {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .decor-circle {
        width: 400px;
        height: 400px;
    }
    
    .main-caption-xl {
        font-size: 48px;
        line-height: 58px;
    }
    
    .main-caption-s {
        font-size: 20px;
        line-height: 130%;
    }
    
    .main-caption-l {
        font-size: 36px;
        line-height: 44px;
    }
    
    .general-caption {
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 767px) {
    .decor-circle {
        width: 300px;
        height: 300px;
    }
    
    .main-button {
        max-width: 360px;
    }
    
    .main-caption-xl {
        font-size: 36px;
        line-height: 44px;
    }
    
    .main-caption-l {
        font-size: 24px;
        line-height: 29px;
    }
    
    .main-textarea {
        height: 145px;
    }
    
    /* General tabs */
    
    .general-tab__list {
        margin: 30px 0px 30px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding-left: 20px;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        &::after {
            content: "";
            width: 1px;
            height: 1px;
            flex-shrink: 0;
        }
    }
    
    .general-tab__item {
        flex-shrink: 0;
        text-align: center;
    }
    
    /* //General tabs */
}

@media screen and (max-width: 576px) {
    .fixed-navigation__wrapper,
    .button-to-top {
        display: none;
    }
    
    .social-list {
        width: 100%;
        justify-content: space-between;
    }
    
    .social-item {
        margin-right: 0px;
    }
    
    /* General tabs */
    
    .general-tab__list {
        font-size: 13px;
        line-height: 16px;
    }
    
    .general-tab__item {
        width: 100px;
        padding-bottom: 13px;
        margin-right: 10px;
    }
    
    /* //General tabs */
    
    /* Widget */
    
    .mobile-widget__wrapper {
        display: block;
    }
}